body {
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
  background-color: rgb(243, 242, 242);
}

header {
  width: 100%;
  height: fit-content;
  background: rgba(51, 159, 163, 1);
  background: linear-gradient(133deg,
      rgba(51, 159, 163, 1) 0%,
      rgba(35, 174, 190, 1) 27%,
      rgba(7, 34, 83, 1) 100%);
}

header .container {
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.container-nav {
  width: 75%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: 'Inter', sans-serif;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #0c2233;
  transition: all 0.2s;
}

nav ul li {
  list-style: none;
}

nav ul {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.camposLogin {
  order: 1;
  background-color: rgb(243, 242, 242);
  color: #0c2233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 50%;
  height: 600px;
  /* border: solid 1px rgb(0, 0, 0); */
}


.imgLogin {
  width: 50%;
  height: 600px;
}

#background5 footer {
  background-color: none;
}

/* CADASTRO */

.navCadastro {
  background-color: #0c2233;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navCadastro .container {
  background-color: #0c2233;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.box_imgCadastro {
  /* assets/img/imgCadastro.png */
  width: 50%;
  background-image: url("../assets/img/imgCadastro.png");
  background-size: cover;
}

.Cadastro {
  background-color: rgb(243, 242, 242);
  color: #0c2233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 50%;

  /* border: solid 1px green; */
}

.textoCadastro2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.textoCadastro2 img {
  width: 100%;
  max-width: 100%;
  height: 120%;
  background-color: rgb(243, 242, 242);
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;

}

.sessaoUm {
  display: flex;
  height: 70vh;
}

.inputForm {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.areaInputs {
  color: #0c2233;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  width: fit-content;
}

.areaInputs p {
  padding: 0px 0px 05px 20px;

}


.areaInputs2 {
  color: #0c2233;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  width: fit-content;
}

.inputCadastro {
  width: 85%;
  padding: 12px 20px;
  margin: 20px 0px 10px 0px;
  border-radius: 15px;
  border: #9E9E9E solid 1px;
}

.inputCadastroSelect {
  width: 105%;
  padding: 12px 0px;
  margin: 20px 0px 10px 0px;
  border-radius: 15px;
  border: #9E9E9E solid 1px;
}

.btn-cadastrar {
  width: 45%;
  height: 43px;
  background-color: #1E6091;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.areaBotao {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

.cadastroTexto {
  display: flex;
  /* border: solid 1px green; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0px;
}

.cadastroTexto h3 {
  color: #0c2233;
  font-size: 28px;

}

.linkparalogin {
  padding-top: 20px;
  font-size: 12px;
}

.linkparalogin a {
  color: #168aad;
}

footer {
  height: 200px;
  width: 100%;

  background: rgba(51, 159, 163, 1);
  background: linear-gradient(133deg,
      rgba(51, 159, 163, 1) 0%,
      rgba(35, 174, 190, 1) 27%,
      rgba(7, 34, 83, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 0;
  bottom: 0;
  /* margin-top: 0.1%; */
}

.container_footer {
  width: 100%;
  height: 200px;
  align-items: center;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}

.copyright {
  width: 21vw;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;

}

.container_links {
  width: 20vw;
  height: 15vh;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 5%;
}

.box_links_footer span {
  width: 145px;
  display: flex;
  text-align: left;
  color: white;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 10px;
}

.box_links_footer ul {
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.box_links_footer ul a {
  text-decoration: none;
  width: 100%;
  text-align: left;
  color: white;
  font-family: 'Inter', sans-serif;
}

.box_links_footer ul p {
  width: 90%;
  text-align: left;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 8px;
}