@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  outline: 0;
}

body {
 
  background-color: rgb(243, 242, 242);
}

header {
  width: 100%;
   height: fit-content; 
   background: rgba(51, 159, 163, 1);
   background: linear-gradient(133deg,
       rgba(51, 159, 163, 1) 0%,
       rgba(35, 174, 190, 1) 27%,
       rgba(7, 34, 83, 1) 100%);
  }
  header .container{
    display: flex;
    justify-content: center;
  }
  
  nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .container-nav {
    width: 75%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s;
  }
  
  nav ul li a:hover {
    color: #0c2233;
    transition: all 0.2s;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }

.img_user {
  width: 5vw;
  height: 5vh;
}

.logo {
  width: 230px;
}

.imgHeader {
  width: 98vw;
}

#background1 {
  background: rgba(51, 159, 163, 1);
  background: linear-gradient(133deg,
      rgba(51, 159, 163, 1) 0%,
      rgba(35, 174, 190, 1) 27%,
      rgba(7, 34, 83, 1) 100%);
}

.sessaoUm {
  height: 70vh;
  display: flex;
  width: 100%;
  
  flex-direction: row;
  background-color: #168aad;
  background-color: rgb(243, 242, 242);
}

.camposLogin {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  order: 1;
  background-color: rgb(243, 242, 242);
  color: #0c2233;
  /* border: solid 1px rgb(0, 0, 0); */
}

.box_login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginTexto {
  display: flex;
  font-weight: 900;
  /* border: solid 1px green; */
  align-items: end;
  justify-content: center;
}

.loginTexto h3 {
  font-size: 28px;
  font-family: 'Inter', sans-serif;
}

.areaInputsLogin {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #0c2233;
  padding-top: 20px;
  margin-bottom: 5%;
}

/* .areaInputsLogin p {
  padding-left: 20px;
} */

.inputs {
  width: 85%;
  height: 20%;
  padding: 12px 20px;
  margin: 20px 0px 10px 0px;
  border-radius: 15px;
  border: #9E9E9E solid 1px;
}

.areaInputsLogin h4 {
  font-size: 12px;
  padding-left: 23px;
}

.areaInputsLogin a {
  font-size: 12px;
  color: #168aad;
}

.areaBotaoLogin {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: center;
}

.btn_entrar {
  width: 80%;
  height: 43px;
  background-color: #1E6091;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 7%;
}

.btn_entrar:hover {
  transition: all 0.3s;
  background-color: black;
}

.imgLogin {
  width: 50%;
  background-image: url("../assets/img/bglogin2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
 
}

footer {
  height: 200px;
  width: 100%;
 
  background: rgba(51, 159, 163, 1);
  background: linear-gradient(133deg,
      rgba(51, 159, 163, 1) 0%,
      rgba(35, 174, 190, 1) 27%,
      rgba(7, 34, 83, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  left: 0;
  bottom: 0; 
  /* margin-top: 0.1%; */
}

.container_footer {
  width: 100%;
  height: 200px;
  align-items: center;
  margin: auto;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}

.copyright {
  width: 21vw;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;

}

.container_links {
  width: 20vw;
  height: 15vh;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 5%;
}

.box_links_footer span {
  width: 145px;
  display: flex;
  text-align: left;
  color: white;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 10px;
}

.box_links_footer ul{
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.box_links_footer ul p{
  width: 90%;
  text-align: left;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 8px;
}