* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90.09deg,
    #34a0a4 10.74%,
    #168aad 45.92%,
    #1a759f 80.83%,
    #1e6091 99.33%
  );
}

nav {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-nav {
  height: 100px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 180px;
}

ul {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

ul li a:hover {
  color: #168aad;
}

.btn-login {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f;
  border: none;
  transition: all 0.3s;

  cursor: pointer;
}

.btn-login:hover {
  background-color: #144e68;
}

.btn-cadastrar {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f00;
  border: 1px solid #1a759f;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-cadastrar:hover {
  background-color: #1a759f;
}

.container-main {
  width: 80vw;
  height: 100%;
  max-width: 1200px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  margin-top: -150px;
}

.container-texto {
  height: 150px;
  width: 450px;
}

.container-texto h2 {
  font-size: 60px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.container-texto p {
  font-size: 18px;
  color: white;
}

.simule-aqui {
  height: 58px;
  width: 200px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1e6091;
  border: 1px solid rgba(255, 255, 255, 0.245);
  transition: all 0.3s;
  cursor: pointer;
}

.simule-aqui:hover {
  background-color: #13354f;
}

.img-main {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin-top: -130px;
}
.wave-1 {
  width: 100%;
  margin-top: -250px;
  margin-bottom: 100px;
}

header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  flex-direction: column;
}

header h2 {
  margin-top: 100px;
}

.container-qm-somos {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.img-quem-somos {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-quem-somos img {
  width: 380px;
}

.texto-quem-somos {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-quem-somos p {
  width: 450px;
  height: 300px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave-2 {
  margin-top: -5%;
}

.nossa-equipe {
  margin-top: -20%;
  width: 100%;
  height: 850px;
  background: linear-gradient(
    90.09deg,
    #34a0a4 10.74%,
    #168aad 45.92%,
    #1a759f 80.83%,
    #1e6091 99.33%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.equipe-1 {
  height: 500px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.equipe-2 {
  height: 500px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 100%;
  margin: 40px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 9999;
}

.perfil-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.perfil-card div {
  height: 100px;
  width: 100px;
  background-color: #1a759f;
  border-radius: 100%;
  margin-top: 40px;
}

.descricao-card {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
}

.descricao-card p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-card {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-card img {
  width: 50px;
  cursor: pointer;
  margin-top: -30px;
}

.wave-3 {
  margin-top: -18%;
}

.missao-valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.container-card-mvv {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  display: flex;
  margin-top: 80px;
}

.card-mvv {
  width: 100%;
  margin: 30px;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 9999;
}

.img-mvv {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-mvv img {
  margin-top: 20px;
}

.title-mvv {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-mvv {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.texto-mvv p {
  width: 85%;
  height: 100%;
}

.dash {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.container-dash {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  padding: 100px;
}

.texto-dash {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}
.texto-dash h2 {
  width: 300px;
}

.img-dash {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.img-dash img {
  width: 600px;
}

.btn-dash {
  height: 55px;
  width: 135px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f;
  border: none;
  cursor: pointer;
}

.fale-conosco {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fale-conosco {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 100px;
  width: 800px;
  height: 600px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title-form {
  margin-top: 30px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inputs {
  width: 100%;
  height: 85%;
  display: flex;
}

.input-text-form {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.input-text-form textarea {
  width: 90%;
  height: 70%;
  border: none;
  background-color: rgba(228, 228, 228, 0.501);
}

.input-form {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 40px;
}

input {
  height: 40px;
  width: 270px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgba(228, 228, 228, 0.501);
  border: none;
}

label {
  font-size: 20px;
}

.input-text-form label {
  font-size: 20px;
  margin-top: 40px;
}

.btn-form {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.btn-form button {
  height: 55px;
  width: 135px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: -16%;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    90.09deg,
    #34a0a4 10.74%,
    #168aad 45.92%,
    #1a759f 80.83%,
    #1e6091 99.33%
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -999;
}

.container-footer {
  width: 100%;
  max-width: 1200px;
  height: 80%;
  display: flex;
  z-index: 0;
}

.img-footer {
  width: 750px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-footer img {
  width: 100px;
  margin-left: 100px;
  margin-top: 40px;
}

.texto-footer {
  width: 100%;
  margin-top: 40px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-footer {
  width: 50%;
  height: 100%;
  color: white;
}

.copy-footer p {
  margin-top: 110px;
}

.sobre-footer {
  width: 50%;
  height: 85%;
  border: solid white 1px;
  display: flex;
}

.sobre1-footer {
  width: 50%;
  height: 100px;
  color: white;
  padding: 20px;
}

.sobre1-footer p {
  margin-top: 15px;
}

.sobre2-footer {
  width: 40%;
  height: 100px;
  color: white;
  padding: 20px;
}

.sobre2-footer p {
  margin-top: 15px;
}

.title-nossa-equipe {
  margin-top: 100px;
  margin-bottom: 210px;
  z-index: 9999;
}
