/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.container-nav {
  width: 60%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */
}

.img_user {
  width: 65px;
  height: 65px;
}

nav img {
  width: 180px;
}

ul {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

ul li a:hover {
  color: #168aad;
}

.btn-login {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.imgHeader {
  width: 100vw;
}

.kpi_container {
  display: flex;
}

.btn-login:hover {
  background-color: #144e68;
}

.btn-cadastrar {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  background-color: #1a759f00;
  border: 1px solid #1a759f;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-cadastrar:hover {
  background-color: #1a759f;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  /* flex-direction: ; */
  /* background-color: pink; */
}

/* .containerAll {
  margin-left: 50%;
} */

.box_metricas {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}

.box_metricas .perigo {
  background-color: rgb(255, 0, 0);
  font-family: 'Inter', sans-serif;
  color: white;
}
.box_metricas .ideal {
  background-color: rgb(0, 255, 0);
  font-family: 'Inter', sans-serif;
  color: black;
}
.box_metricas .atencao {
  background-color: rgb(255, 255, 0);
  font-family: 'Inter', sans-serif;
  color: black;
}

.box_metricas .metricas {
  padding: 10px 0px;
  margin: 0 10px;
  width: 12%;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}

.box_metricas .metricas span {
  font-size: 16px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

.data_menu {
  width: 20vw;
  height: 60%;
  /* justify-content: center; */
  align-self: center;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  border-radius: 20px;
  align-items: center;
  /* box-shadow: 2px 1px 10px 1px rgb(187, 187, 187); */
  padding: 20px;
} 

.data_menu .card_menu {
  /* background-color: red; */
  /* border: 2px solid black; */
  width: 18vw;
  height: 50%;
  box-shadow: 2px 1px 10px 5px rgb(187, 187, 187);
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 20px 10px 0 10px;
}

.card_menu:hover {
  transition: all 0.3s;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.card_menu .kpiTextSetor {
  font-weight: 900;
}

.card_menu .kpiTextPessoas {
  font-size: 24px;
  /* font-weight: 900; */
}

.data_menu .card_menu span {
  align-self: center;
  /* background-color: pink; */
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.box .boxes{
  width: 350px;
  align-self: center;
  margin: 0 50% 0 50%;
}

.box_metricasCards {
  width: 680px;
  align-self: center;
}

.container_cards {
  width: 800px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-self: center;
  box-shadow: 2px 1px 10px 5px rgb(187, 187, 187);
}

.container_cards .box_card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  /* width: 80%; */
  /* border: 5px solid blue; */
}

.container_cards .box_card .card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 2px 1px 10px 1px rgb(187, 187, 187);
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transition: all 0.3s;
  background-color: rgb(241, 241, 241);
}

.card img {
  display: flex;
  align-self: center;
  margin: 15%;
  width: 65px;
  height: 65px;
}

h2, h3, .title_setor, .text_setor, .kpiTextPessoas, .kpiTextPessoas {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  margin: 5% 0;
}

.title_setor {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 10% 0 6% 0;
}

.text_setor {
  margin: 5% 0 0 10%;
}

.imgFooter {
  width: 100vw;
}