.camposLogin {
  order: 1;
  background-color: rgb(243, 242, 242);
  color: #0c2233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 50%;
  height: 600px;
  /* border: solid 1px rgb(0, 0, 0); */
}


.imgLogin {
  width: 50%;
  height: 600px;
}

#background5 footer{
  background-color: none;
}
.imgLogin img {
  width: 140%;
  height: 600px;
  background-image: url(img/bglogin2.png) no-repeat;
  background-size: 100%;
  background-color: rgb(243, 242, 242);
  max-width: 160%;
  max-height: 100%;
}

.areaInputsLogin {
  color: #0c2233;
  padding-top: 20px;
  /* border: solid 1px green; */
  height: 170px;
}

.areaInputsLogin p {
  padding-left: 20px;
}

.areaInputsLogin h4 {
  font-size: 10px;
  padding-left: 23px;
}

.areaInputsLogin a {
  color: #168aad;
}

.areaBotaoLogin {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: start;
  justify-content: center;
}

.loginTexto {
  height: 150px;
  display: flex;
  font-weight: 900;
  /* border: solid 1px green; */
  align-items: end;
  justify-content: center;
  width: 100%;
}

/* CADASTRO */

.navcadastro {
  background-color: #0c2233;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navcadastro .container {
  background-color: #0c2233;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}



.textocadastro {
  background-color: rgb(243, 242, 242);
  color: #0c2233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 50%;
  height: 600px;
  /* border: solid 1px green; */
}

.textocadastro2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 600px;
}

.textocadastro2 img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(243, 242, 242);
  background-image: url(img/Group\ 21\ 1.png) no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sessaoum {
  margin: 0px;
  display: flex;
  width: 100%;

  flex-direction: row;
  /* border: solid 1px green; */
}

.areainputs {
  color: #0c2233;

  padding-top: 20px;
  /* border: solid 1px green; */
  height: 360px;
  margin-left: 60px;
}

.areainputs p {
  padding-left: 20px;

}

.areainputs2 p {
  padding-left: 20px;

}

.areainputs2 {
  color: #0c2233;

  padding-top: 20px;
  height: 360px;
}

.inputs {
  padding: 10px 20px;
  margin: 0px 10px 10px 10px;
  border-radius: 15px;
  border: #9E9E9E solid 1px;
}

.areabotao {
  display: flex;
  width: 100%;
  height: 100px;
  margin-left: 60px;

  align-items: start;
  justify-content: center;

}

.cadastrotexto {
  display: flex;
  /* border: solid 1px green; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-left: 60px;

}

.cadastrotexto h3 {
  color: #0c2233;
  font-size: 28px;

}
